@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.roboto-mono-normal {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    scroll-behavior: smooth;
    transition: 0.3s;
}

/* Shared All Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

p, .btn {
    font-family: "Roboto Mono", monospace;
}

a {
    font-family: "Roboto", sans-serif;
}

.primary-color {
    color: #181818;
}

button {
    padding: 5px 40px;
    border: 1.5px solid #C6866B;
    border-radius: 24px;
    font-size: 16px;
    color: #fff;
    background-color: #C6866B !important;
    cursor: pointer;
}

/* Header Styles Start */
/* Nav Section Styles */

/*
backInDown animation {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
}

.animate__animated.animate__delay-2s {
   animation-delay: calc(var(--animate-delay) * 2);
}

.animate__backInDown {
    animation-name: backInDown;
}

.animate__animated {
    animation-fill-mode: both;
}

#refresh::before {
    content: "";
    position: absolute;
    inset: 0;
    block-size: 10px;
    animation: delayed-snap-point 2ms forwards;
}
    */

header {
    max-width: 100%;
    height: 80px;
    display: flex;
    margin: auto;
    box-shadow: 0 0 15px 5px rgb(218, 216, 216);
    position: sticky;
    z-index: 999;
}

.nav-container {
    display: flex;
    width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    column-gap: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    font-size: 36px;
    font-weight: bold;
    color: #181818;
    text-shadow: 0px 2px 2px #808080;
    cursor: pointer;
}

.logo h2 span {
    font-size: 36px;
    font-weight: bold;
    color: #dc4c78;
}

.navbar ul {
    display: flex;
    gap: 50px;
    list-style-type: disc;
    margin-block-start: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.navbar ul li {
    display: list-item;
    list-style: none;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.navbar ul a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #181818;
    text-shadow: 0px 1px 1px #808080;
    transition: .5s;
}

.navbar ul li a:hover {
    color: #d09b85;
    border-bottom: 2px solid #C6866B !important;
}

.search {
    position: relative;
}

.search input {
    background: #fff1f5;
    width: 150px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.search a i {
    position: relative;
    left: -30px;
    top: 2px;
    color: #3b3b3b;
}
/* Header Styles End */

/* Main Styles Start */
/* Section-One Styles */
.section-one {
    width: 100%;
    background: url(../assets/Hero-bg.png);
}

.section-inner {
    max-width: 1440px;
    height: 560px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-side h6 {
    font-size: 24px;
    font-weight: 600;
    color: #C6866B;
    text-shadow: 0px 2px 2px #808080;
}

.left-side h2 {
    font-size: 70px;
    font-weight: 800;
    text-shadow: 0px 4px 4px #808080;
}

.left-side p {
    width: 570px;
    font-size: 20px;
    font-weight: 400;
    color: #808080;
    text-shadow: 0px 1px 1px #808080;
    margin: 30px 0;
}

.section-inner button {
    background-color: transparent !important;
    border: 2px solid #C6866B;
    border-radius: 20px;
    padding: 5px 20px;
    margin-right: 10px;
}

.section-inner button a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    color: #181818;
}

.section-inner .second-btn {
    background-color: transparent !important;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
}

.section-inner .second-btn i {
    font-size: 25px;
    color: red;
    margin-bottom: -7px;
}

.right-side img {
   width: 700px;
   height: 563px;
}

/* Section-Two Styles */
.section-two {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f7ff;
    border-radius: 20px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 80px 0px;
    margin: 100px auto;
}

.section-two .text-box-btn button {
    padding: 5px 20px;
    border: 1.5px solid #C6866B;
    border-radius: 25px;
    background-color: transparent !important;
}

.section-two .text-box-btn button a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #C6866B;
    line-height: 1.2;
}

.section-two .container {
    max-width: 25%;
    flex-shrink: 0;
    background-color: #FFFFFF;
    border: 2px solid #ededed;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    transition: 0.6s;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.section-two .container:hover {
    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
}

.section-two .cont-txt-box {
    box-shadow: none;
    background-color: transparent;
    text-align: justify;
    align-items: start !important;
    list-style: 1.4;
    border: none;
}

.section-two .cont-txt-box:hover {
    background-color: unset;
    border: none;
    border-radius: 10px;
}

.section-two .small-txt {
    font-size: 15px !important;
    font-weight: 600;
}

.section-two .cont-txt-box h3 {
    font-size: 30px;
    font-weight: 600;
    color: #C6866B;
    text-shadow: 0px 1px 1px #808080;
    padding-bottom: 10px;
    margin-left: 7px;
}

.section-two span {
    background: #C6866B;
    font-size: 14px;
    color: #fff;
    margin-top: 230px;
    margin-left: -22px;
    position: absolute;
    padding: 5px 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.section-two p {
    font-size: 14px;
    color: #565353 !important;
    padding: 0px 10px;
}

.container img {
    width: 100%;
    transition: all .25s ease !important;
}

.section-two .container h2 {
    font-size: 1.5rem;
    color: #C6866B;
}

/* Section Three Styles */
.section-three {
    max-width: 1440px;
    height: auto;
    margin: 80px auto;
}

.heading-arrow {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.heading-arrow h2 {
    font-size: 30px;
    font-weight: 600;
    color: #181818;
    text-shadow: 0px 1px 1px #808080;
    margin-bottom: 50px;
}

.section-three-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.content {
    background: #f5f7ff;
    padding: 10px 20px;
    width: 250px;
    height: 320px;
    border-radius: 25px;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.2);
}

.content img {
    width: 200px;
    height: 250px;
    cursor: pointer;
}

.dots-img {
    display: flex;
    gap: 5px;
    position: relative;
    top: -120px;
    left: 100px;
}

.dots-img img {
    width: 5px;
    margin: 5px 0;
}

.content h5 {
    font-size: 17px;
    font-weight: 400;
    color: #292929;
}

.content h4 {
    font-size: 19px;
    font-weight: 400;
    color: #C6866B;
    margin-top: 5px;
}

.section-three button {
    display: flex;
    justify-content: center;
    margin: 80px auto;
    background-color: #f3efef !important;
}

.section-three button a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #292929;
}

.section-fore {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

/* Section Five Styles */
.section-five-heading-arrow {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.section-five-inner {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.left-box {
    background-color: #f3efef;
    width: 400px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.2);
    position: relative;
}

.left-box span {
    background: #d09b85;
    padding: 8px 15px;
    position: relative;
    top: 40px;
    left: 20px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}

.left-box img {
    width: 370px;
    height: 370px;
    position: relative;
    left: 10px;
}

.left-box .dots-img img {
    width: 10px;
    bottom: 30px;
    position: relative;
    left: 70px;
}

.left-box .dots-img {
    display: flex;
    gap: 5px;
}

.right-box {
    background-color: #f3efef;
    width: 300px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.2);
}

.right-box img {
    width: 270px;
    height: 300px;
    position: relative;
    left: 10px;
}

.right-box span {
    background: #d09b85;
    padding: 5px 10px;
    position: relative;
    top: 40px;
    left: 15px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.right-box h3 {
    font-size: 18px;
    font-weight: 500;
    color: #3b3b3b;
    position: relative;
    left: 70px;
}

.right-box h4 {
    font-size: 20px;
    font-weight: 600;
    color: #C6866B;
    position: relative;
    left: 120px;
}
/* Main Styles End */

/* Footer Styles Start */
.footer-section {
    max-width: 1240px;
    height: 400px;
    background: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0px 80px;
}

.footer-logo {
    display: flex;
}

.footer-logo h2 {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px #808080;
    cursor: pointer;
}

.footer-logo h2 span {
    font-size: 30px;
    font-weight: bold;
    color: #dc4c78;
}

.footer-box {
    max-width: 330px;
    position: relative;
}

.footer-input-box p {
    font-size: 16px;
    font-weight: 400;
    color: #f1f1f1;
    margin: 20px 0;
}

.footer-input-box input {
    padding: 10px 30px;
    border: 1px solid #f1f1f1;
    background: transparent;
    border-radius: 25px;
    color: #f1f1f1;
}

.footer-input-box input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #f1f1f1;
}

.footer-input-box img {
    position: relative;
    left: -60px;
    top: 10px;
}

.footer-service span, .footer-company span {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    line-height: 2;
}

.footer-service ul li, .footer-company ul li {
    list-style: none;
}

.footer-service a, .footer-company a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #bbbbbb;
    font-family: "Roboto Mono", monospace;
    line-height: 1.5;
}

.footer-service a:hover, .footer-company a:hover {
    color: #858585;
}

.footer-follow {
    text-align: center;
}

.footer-follow h3 {
    font-size: 20px;
    font-weight: 500;
    color: #f1f1f1;
    margin-bottom: 20px;
}

.footer-follow-icon {
    cursor: pointer;
}

.footer-copyright {
    max-width: 1240px;
    height: 80px;
    background: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0px 80px;
    border-top: 2px solid #C6866B;
}

.copyright {
    font-family: "Roboto Mono", monospace;
    color: #f1f1f1;
}

.copyright span {
    font-family: "Roboto Mono", monospace;
    color: #C6866B;
}

.payment-methods {
    display: flex;
    gap: 10px;
}

.payment-methods h4 {
    font-family: "Roboto Mono", monospace;
    color: #bbbbbb;
}

/* Footer Styles End */













/* Sweep To Right */
.hvr-sweep-to-right {
    /* padding: 20px; */
    background: lightgrey;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 25px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
}

.hvr-sweep-to-right:hover {
    color: #C6866B;
}

.hvr-sweep-to-right:hover:before {
    transform: scaleX(1);
}


/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


.blob {
    /* background: black; */
    border-radius: 50%;
    margin: 10px;
    height: 100%;
    /* width: 20px; */
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        /* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



#refresh::before {
    content: "";
    position: absolute;
    inset: 0;
    block-size: 10px;
    animation: delayed-snap-point 2ms forwards;
}

@keyframes delayed-snap-point {
    to {
        scroll-snap-align: start
    }
}